I am running my own static Python server. Don't try to start one.

The "ref/" folder is reference to the Forge Viewer internal source code, extensions and blog posts.  Use it strictly as read-only and as a knowledgebase.
